<!DOCTYPE html>
<html>
<head>
  <title>Forgot Password - UK Company Formation</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include('navbar') %>

  <div class="container mt-5">
    <% if (typeof errors != 'undefined' && errors.length > 0) { %>
      <div class="alert alert-danger">
        <% errors.forEach(function(error) { %>
          <p><%= error.msg %></p>
        <% }) %>
      </div>
    <% } %>
    <% if (typeof success_msg != 'undefined') { %>
      <div class="alert alert-success">
        <p><%= success_msg %></p>
      </div>
    <% } %>
    <h1>Forgot Password</h1>
    <form action="/users/forgot-password" method="POST">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" required>
      </div>
      <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
  </div>

  <%- include('footer') %>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
