<!DOCTYPE html>
<html>
<head>
  <title>Services - UK Company Formation</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include('navbar') %>

  <div class="container mt-5">
    <h1>Our Services</h1>
    <p>We offer a wide range of services to help you form your UK company:</p>
    <ul>
      <li>Company formation within 24 hours</li>
      <li>Registered office address</li>
      <li>Mail forwarding</li>
      <li>Virtual office services</li>
      <li>Accounting and bookkeeping</li>
    </ul>
  </div>

  <%- include('footer') %>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
